body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.bg-info {
    padding: 15px;
}

.bg-success {
    padding: 15px;
}

.padded {
    padding: 15px;
}


#ajaxFlash > p {
    position: fixed;
    top: 51px;
    height: 50px;
    width: 60%;
    z-index: 1031;
}
